html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

#container {
    height: 600px;
    width:400px;
    border: 30px solid lightpink;
    margin: 0 auto;
    overflow: hidden;
    position:absolute;
    top:15%;
    right:35%;
}

#rectangle {
    position: relative;
    float:right;
    top:100px;
    right:50px;
}

.wrapper{
    position: absolute;
    height:600px;
    width:364px;
    overflow: hidden;
}

#frontImage {
    position:relative;
    left:20px;
    bottom:10px;
}

.alertBox{
    background-color:rgb(240, 240, 240);
    border:2px solid black;
    width:200px;
    height:120px;
    position: absolute;
    bottom:100px;
    right:20px;
}

#secondBox {
    bottom:120px;
    right:40px;
}

.top{
    width:100%;
    height:20px;
    text-align: center;
}

.warningTriangle {
    height:23px;
    position: relative;
    left:20px;
}

.x{
    width:20%;
    height:100%;
    float:right;
    color:white;
    background-color: pink;
    font-size: 30px;
    line-height: 15px;
}

.innerBox{
    height:60px;
    width:180px;
    padding:0px;
    margin:0 auto;
    margin-top: 3px;
    padding-left: 5px;
    border:1px solid black;
    border-radius: 7px;
}

.okButton {
    height:20px;
    width:60px;
    padding:0px;
    float:right;
    border:1px solid black;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 7px;
    text-align: center;

}

