@keyframes firstAnimation{
    0%{height:0px; width:0px; visibility: visible;}
    20%{height: 40%; width:30%; visibility: visible;}
    100%{height: 40%; width:30%; visibility: visible;}
}

@keyframes secondAnimation{
    0%{height:0px; width:0px;visibility: visible;}
    20%{height: 20%;width: 45%;visibility: visible;}
    100%{height: 20%;width: 45%;visibility: visible;}
}

@keyframes thirdAnimation{
    0%{height:0px; width:0px;visibility: visible;}
    20%{height: 30%;width: 30%;visibility: visible;}
    100%{height: 30%;width: 30%;visibility: visible;}
}

@keyframes sparkling{
    from{visibility:visible; height:0px;top:200px;left:250px;}
    to{height:100px;transform: rotate(200deg); visibility:visible;}
}

@keyframes topSparkle {
    0%{visibility: visible; opacity: 0;}
    20%{opacity: 1; left:-20px;top:80%;}
    60%{left:650px;top:80%;}
    90%{opacity: 1; top:93%; left:620px}
    100%{opacity: 0; top:93%; left:620px; visibility: hidden};
}

@keyframes bottomSparkle {
    0%{visibility: visible; opacity: 0;}
    20%{opacity: 1; right:-20px;top:93%;}
    60%{right:650px;top:93%;}
    90%{opacity: 1; top:80%; right:625px}
    100%{opacity: 0; top:80%; right:625px; visibility: hidden};
}

@keyframes fadeIn {
    from{opacity: 0; visibility: visible}
    to{opacity: 1;visibility: visible}
}


html, body {
    margin:0;
    padding: 0;
}

body{
    text-align: center;
}

#container {
    padding: 0;
    margin: 0;
    display:inline-block;
    position: relative;
    background-image: url('hackerman.jpg');
    height:900px;
    width: 700px;
    border:20px solid #b46046;
}

#sparkle {
    visibility: hidden;
    position: absolute;
    height:100px;
    top:150px;
    left:200px;
    animation-name: sparkling;
    animation-delay: 11s;
    animation-duration: 1s;
    animation-fill-mode: forwards;    
}
.window {
    position: absolute;
    visibility: hidden;
    text-align: left;
    overflow:hidden;
    color:rgb(127, 212, 0)

}



#firstSquare{
    height: 40%;
    width: 30%;
    top:20px;
    left:40px;
    border: 2px solid #c8d4c6;
    animation:firstAnimation 3s 2;
    animation-delay:1s;
    animation-direction: alternate;
    background-color: rgb(58, 58, 58);
}
#secondSquare{
    height: 20%;
    width: 45%;
    bottom:150px;
    right:140px;
    border: 2px solid #c8d4c6;
    animation:secondAnimation 3s 2;
    animation-delay: 2s;
    animation-direction: alternate;
    background-color: rgb(58, 58, 58);

}

#thirdSquare{
    height: 30%;
    width: 30%;
    top:230px;
    right:60px;
    border: 2px solid #c8d4c6;
    animation:thirdAnimation 3s 2;
    animation-delay: 3s;
    animation-direction: alternate;
    background-color: rgb(58, 58, 58);

}


#hackermanBorder{
    height:110px;
    width:675px;
    border: 2px solid white;
    top:86%;
    left:10px;
    transform:skew(-10deg);
    visibility: hidden;
    animation:fadeIn .5s;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}



#secondSparkle{
    visibility: hidden;
    position: absolute;
    height:100px;
    top:80%;
    left:-20px;
    animation:topSparkle 2s 1;
    animation-delay: 9s;
}

#thirdSparkle{
    visibility: hidden;
    position: absolute;
    height:100px;
    top:93%;
    right:-20px;
    animation:bottomSparkle 2s 1;
    animation-delay: 9s;
}

#access{
    visibility: hidden;
    width:400px;
    position: absolute;
    top:50%;
    left:23%;
    animation: fadeIn .7s infinite;
    animation-direction: alternate;
    animation-delay: 9s;
}
